img {
    height: 50px;
}
.contenedor-menu {
    &-login {
        margin-right: 10px;
    }
    &-logout {
        display: flex;
        align-items: center;

        span {
            margin-right: 10px;
        }
    }
}